.error {
    border: 1px solid rgb(216, 92, 92) !important;
    background-color: rgba(255, 161, 161, 0.37);
}
.input {
    border-radius: 5px;
    border: 1px solid rgb(192, 192, 192);
}

.active {
    background-color: rgba(163, 211, 255, 0.596);
}

.like {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}